#header {
  
    background: #0E2954;
    color:white ;
}


div.breadcrumbs {
    background: #0A6EBD;
    padding: 10px 40px;
    border: none;
    color: white;
    text-align: left;
    
}

/* .login .submit-row{
   padding:0px !important; 


} */

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #0E2954;
    /* width:100%; */
}


.module caption, .inline-group h2 {
 
    background: #0A6EBD;
}